body {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: white;
  text-overflow: clip;
  background: linear-gradient(30deg, #00192E 12%, #00000000 12.5%, rgba(0, 0, 0, 0) 87%, #00192E 87.5%, #00192E 0), linear-gradient(150deg, #00192E 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, #00192E 87.5%, #00192E 0), linear-gradient(30deg, #00192E 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, #00192E 87.5%, #00192E 0), linear-gradient(150deg, #00192E 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, #00192E 87.5%, #00192E 0), linear-gradient(60deg, #3360da 25%, rgba(0, 0, 0, 0) 25.5%, rgba(0, 0, 0, 0) 75%, #3360da 75%, #3360da 0), linear-gradient(60deg, #3360da 25%, rgba(0, 0, 0, 0) 25.5%, rgba(0, 0, 0, 0) 75%, #3360da 75%, #3360da 0), #0C497A;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 80px 140px;
  margin: auto auto;
}

.illu {
  margin: auto auto;
  display: block !important;
  max-width: 100%;
  height: auto;
}

h2 {
  text-align: center;
  background-color: black;
  padding: 20px;
  margin: 0;
  font-size: 6vw;
  margin: 0 auto;
}

section {
  margin: 20px 0;
  padding: 0;
}

section h3 {
  margin: 0 0;
  padding: 5px 5px;
  background-color: #3360da;
  font-size: 3vw;
  width: 85vw;
  border-top: solid black 2px;
  border-right: solid black 2px;
  cursor: pointer;
}

section h3:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (orientation: landscape) {
  .tri {
    background-color: rgba(0, 0, 0, 0.829);
    margin: 0;
    padding: 0;
    border-bottom: black 5px solid;
    border-top: black 5px solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    overflow: hidden;
    display: none;
  }
}

@media (orientation: portrait) {
  .tri {
    background-color: rgba(0, 0, 0, 0.829);
    margin: 0;
    padding: 0;
    border-bottom: black 5px solid;
    border-top: black 5px solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    overflow: hidden;
    display: none;
  }
}

footer {
  background-color: black;
  margin: 0;
  padding: 10px;
}

footer p {
  margin: auto auto;
  text-align: center;
}

footer p a {
  color: #3360da;
}

.pagination {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.507);
  padding: 5px 5px;
}

.pagination a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #00192E;
  color: white;
  font-size: 15px;
}

.pagination a:hover:not(.active) {
  background-color: black;
  color: white;
}
/*# sourceMappingURL=style.css.map */