$c1:white;
$c2:#00192E;
$c3:#3360da;
$c4:#0C497A;
body {
    width: 100vw;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: $c1;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(60deg, $c2 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, $c2 87.5%, $c2 0), -webkit-linear-gradient(-60deg, $c2 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, $c2 87.5%, $c2 0), -webkit-linear-gradient(60deg, $c2 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, $c2 87.5%, $c2 0), -webkit-linear-gradient(-60deg, $c2 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, $c2 87.5%, $c2 0), -webkit-linear-gradient(30deg, $c3 25%, rgba(0, 0, 0, 0) 25.5%, rgba(0, 0, 0, 0) 75%, $c3 75%, $c3 0), -webkit-linear-gradient(30deg, $c3 25%, rgba(0, 0, 0, 0) 25.5%, rgba(0, 0, 0, 0) 75%, $c3 75%, $c3 0), $c4;
    background: -moz-linear-gradient(30deg, $c2 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, $c2 87.5%, $c2 0), -moz-linear-gradient(150deg, $c2 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, $c2 87.5%, $c2 0), -moz-linear-gradient(30deg, $c2 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, $c2 87.5%, $c2 0), -moz-linear-gradient(150deg, $c2 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, $c2 87.5%, $c2 0), -moz-linear-gradient(60deg, $c3 25%, rgba(0, 0, 0, 0) 25.5%, rgba(0, 0, 0, 0) 75%, $c3 75%, $c3 0), -moz-linear-gradient(60deg, $c3 25%, rgba(0, 0, 0, 0) 25.5%, rgba(0, 0, 0, 0) 75%, $c3 75%, $c3 0), $c4;
    background: linear-gradient(30deg, $c2 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, $c2 87.5%, $c2 0), linear-gradient(150deg, $c2 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, $c2 87.5%, $c2 0), linear-gradient(30deg, $c2 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, $c2 87.5%, $c2 0), linear-gradient(150deg, $c2 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, $c2 87.5%, $c2 0), linear-gradient(60deg, $c3 25%, rgba(0, 0, 0, 0) 25.5%, rgba(0, 0, 0, 0) 75%, $c3 75%, $c3 0), linear-gradient(60deg, $c3 25%, rgba(0, 0, 0, 0) 25.5%, rgba(0, 0, 0, 0) 75%, $c3 75%, $c3 0), $c4;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 80px 140px;
    background-size: 80px 140px;
    margin: auto auto;
    h2 {
        text-align: center;
        background-color: rgb(0, 0, 0);
        padding: 20px;
        margin: 0;
        font-size: 6vw;
        width: 100vw;
    }
    section {
        margin: 0;
        padding: 0;
        h3 {
            margin: 0;
            padding: 2px;
            display: inline-block;
            background-color: $c3;
            font-size: 3vw;
        }
        .tri {
            width: 100vw;
            background-color: rgba(0, 0, 0, 0.829);
            margin: 0;
            padding: 0;
            border-bottom: black 5px solid;
            border-top: black 5px solid;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
            align-items: baseline;
            iframe {
                order: 0;
                flex: 0 1 auto;
                align-self: auto;
                width: 33vw;
                margin: auto auto;
            }
            article {
                &:nth-child(2) {
                    margin: auto auto;
                    text-align: center;
                    width: 33vw;
                    order: 0;
                    flex: 0 1 auto;
                    align-self: auto;
                }
                &:nth-child(3) {
                    order: 0;
                    flex: 0 1 auto;
                    align-self: auto;
                    width: 33vw;
                    margin: auto 0;
                    ul {
                        list-style-type: none;
                        border-left: $c3 5px solid;
                        padding: 0;
                        background-color: #3360da34;
                        border-bottom: $c3 1px solid;
                        li {
                            &:first-child {
                                font-weight: bold;
                                background-color: $c3;
                                padding: 2px;
                                margin-bottom: 10px;
                            }
                            &:not(li:first-child) {
                                margin-left: 10px;
                                padding-bottom: 20px;
                                &:before {
                                    content: " 👉 ";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: black;
    text-align: center;
    padding: 20px;
}