$c1:white;
$c2:#00192E;
$c3:#3360da;
$c4:#0C497A;
* {
    box-sizing: border-box;
    color: black;
}


/* Add a gray background color with some padding */

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
    box-sizing: content-box;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: $c1;
    text-overflow: clip;
    background: linear-gradient(30deg, $c2 12%, #00000000 12.5%, rgba(0, 0, 0, 0) 87%, $c2 87.5%, $c2 0), linear-gradient(150deg, $c2 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, $c2 87.5%, $c2 0), linear-gradient(30deg, $c2 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, $c2 87.5%, $c2 0), linear-gradient(150deg, $c2 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, $c2 87.5%, $c2 0), linear-gradient(60deg, $c3 25%, rgba(0, 0, 0, 0) 25.5%, rgba(0, 0, 0, 0) 75%, $c3 75%, $c3 0), linear-gradient(60deg, $c3 25%, rgba(0, 0, 0, 0) 25.5%, rgba(0, 0, 0, 0) 75%, $c3 75%, $c3 0), $c4;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: 80px 140px;
    margin: auto auto;
}


/* Create two unequal columns that floats next to each other */


/* Left column */

.leftcolumn {
    float: left;
    width: 75%;
}


/* Right column */

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}


/* Fake image */

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}


/* Add a card effect for articles */

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    h3,
    h2 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    .sources {
        a {
            white-space: pre;
            display: inline-block;
            padding: 2px;
            &:hover {
                background-color: rgba(0, 0, 0, 0.13);
            }
            &:nth-child(2n+1) {
                color: $c3;
            }
        }
    }
}

h5 {
    text-align: right;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

.pagination {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 5px 5px;
}

.pagination a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: $c2;
    color: white;
    font-size: 15px;
}

.pagination a:hover:not(.active) {
    background-color: black;
    color: white;
}

.rightcolumn {
    ul {
        list-style-type: none;
        border-left: $c3 5px solid;
        padding: 0;
        background-color: #3360da34;
        border-bottom: $c3 1px solid;
        li {
            &:first-letter {
                text-transform: uppercase;
            }
            &:first-child {
                font-weight: bold;
                background-color: $c3;
                color: white;
                padding: 2px;
                margin-bottom: 10px;
                // C'est partit pour mettre tout les persos et leurs assigner une icone
                &[perso=layton] {
                    &:before {
                        content: "🎩";
                    }
                }
                &[perso=laytonEN] {
                    &:before {
                        content: "🎩🇬🇧";
                    }
                }
                &[perso=luke] {
                    &:before {
                        content: "🧒";
                    }
                }
                &[perso=luigi] {
                    &:before {
                        content: "🟢";
                    }
                }
                &[perso=mario] {
                    &:before {
                        content: "🔴";
                    }
                }
                &[perso=glin] {
                    &:before {
                        content: "🧢";
                    }
                }
                &[perso=descole] {
                    &:before {
                        content: "🖤";
                    }
                }
                &[perso=tintin] {
                    &:before {
                        content: "👱";
                    }
                }
                &[perso=kass] {
                    &:before {
                        content: "🥼";
                    }
                }
                &[perso=emmy] {
                    &:before {
                        content: "🟡";
                    }
                }
                &[perso=hitler] {
                    &:before {
                        content: "☹️";
                    }
                }
                &[perso=tavvar] {
                    &:before {
                        content: "🚣‍♂️";
                    }
                }
                &[perso=poopulaire] {
                    &:before {
                        content: "👨‍👩‍👦‍👦";
                    }
                }
                &[perso=robotnik] {
                    &:before {
                        content: "😡";
                    }
                }
                &[perso=ktastroff] {
                    &:before {
                        content: "🤓";
                    }
                }
                &[perso=polnareff] {
                    &:before {
                        content: "🦳";
                    }
                }
                &[perso=profdeluke] {
                    &:before {
                        content: "🧔";
                    }
                }
                &[perso=harki] {
                    &:before {
                        content: "👑";
                    }
                }
                &[perso=wright] {
                    &:before {
                        content: "👷";
                    }
                }
                // C'est bon !
            }
            &:not(li:first-child) {
                margin-left: 10px;
                padding-bottom: 20px;
                &:before {
                    content: " 👉 ";
                }
            }
        }
    }
}

.responvid {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}